# Neural Networks

## Our goal of this project is to :
- read and understand the domain
- clean and encode the data if needed 
- build the perfect Neural Network model that doesnot overfit nor underfit the data ; gets the least loss possible

## Import Needed Libararies

In [ ]:
import numpy as np # arrays and slicing 
import pandas as pd # for dataframe
from sklearn.preprocessing import StandardScaler # for normalization
from sklearn.model_selection import train_test_split # spliting data
from keras.models import Sequential # type of model in neural network
from keras.layers import Dense # keras dense to add fully connected layers to the model

In [127]:
df = pd.read_csv(r"C:\Users\User\Desktop\koleya\summer 2\SPRINTS  AI & ML program\Assigment\assigment 5\forestfires.csv")
df #reading the csv file

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

## Preprocessing the data

In [128]:
df.shape # see the shape of the csv

(517, 13)

In [129]:
df.isnull().sum()  # count the null in each column

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

### there is no nulls in data

In [130]:
df.dtypes # see the types of each column

X          int64
Y          int64
month     object
day       object
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

### all columns are int except day and month are string so we need to encode them

In [131]:
df.nunique() #see the number of unique value of each column

X          9
Y          7
month     12
day        7
FFMC     106
DMC      215
DC       219
ISI      119
temp     192
RH        75
wind      21
rain       7
area     251
dtype: int64

In [132]:
df.info() # see the info of all data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [133]:
df.describe() # describe the data to see the statistics of the int columns

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

### from looking in data description I see that columns area and rain are skewed to the zero

In [134]:
# because the area is skewed to zero 
df['area'] = np.log1p(df['area'])
# so i aplied logarithm function to it

In [135]:
# because the rain is skewed to zero 
df['rain'] = np.log1p(df['rain'])
# so i aplied logarithm function to it

In [136]:
df['day'].value_counts() # see each unique value in days quantity of it

sun    95
fri    85
sat    84
mon    74
tue    64
thu    61
wed    54
Name: day, dtype: int64

In [137]:
df.loc[df['day'] == 'mon', 'day'] = 1
df.loc[df['day'] == 'tue', 'day'] = 2
df.loc[df['day'] == 'wed', 'day'] = 3
df.loc[df['day'] == 'thu', 'day'] = 4
df.loc[df['day'] == 'fri', 'day'] = 5
df.loc[df['day'] == 'sat', 'day'] = 6
df.loc[df['day'] == 'sun', 'day'] = 7
df
# converting day into int

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,mar,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.000000,0.000000
1,7,4,oct,2,90.6,35.4,669.1,6.7,18.0,33,0.9,0.000000,0.000000
2,7,4,oct,6,90.6,43.7,686.9,6.7,14.6,33,1.3,0.000000,0.000000
3,8,6,mar,5,91.7,33.3,77.5,9.0,8.3,97,4.0,0.182322,0.000000
4,8,6,mar,7,89.3,51.3,102.2,9.6,11.4,99,1.8,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,aug,7,81.6,56.7,665.6,1.9,27.8,32,2.7,0.000000,2.006871
513,2,4,aug,7,81.6,56.7,665.6,1.9,21.9,71,5.8,0.000000,4.012592
514,7,4,aug,7,81.6,56.7,665.6,1.9,21.2,70,6.7,0.000000,2.498152
515,1,4,aug,6,94.4,146.0,614.7,11.3,25.6,42,4.0,0.000000,0.000000
516,6,3,nov,2,79.5,3.0,106.7,1.1,11.8,31,4.5,0.000000,0.000000

In [138]:
df['day'].value_counts() # see each unique value in days quantity of it

7    95
5    85
6    84
1    74
2    64
4    61
3    54
Name: day, dtype: int64

In [139]:
df['month'].value_counts() # see each unique value in month quantity of it

aug    184
sep    172
mar     54
jul     32
feb     20
jun     17
oct     15
apr      9
dec      9
jan      2
may      2
nov      1
Name: month, dtype: int64

In [140]:
df.loc[df['month'] == 'jan', 'month'] = 1
df.loc[df['month'] == 'feb', 'month'] = 2
df.loc[df['month'] == 'mar', 'month'] = 3
df.loc[df['month'] == 'apr', 'month'] = 4
df.loc[df['month'] == 'may', 'month'] = 5
df.loc[df['month'] == 'jun', 'month'] = 6
df.loc[df['month'] == 'jul', 'month'] = 7
df.loc[df['month'] == 'aug', 'month'] = 8
df.loc[df['month'] == 'sep', 'month'] = 9
df.loc[df['month'] == 'oct', 'month'] = 10
df.loc[df['month'] == 'nov', 'month'] = 11
df.loc[df['month'] == 'dec', 'month'] = 12
df
# converting month into int

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
0,7,5,3,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.000000,0.000000
1,7,4,10,2,90.6,35.4,669.1,6.7,18.0,33,0.9,0.000000,0.000000
2,7,4,10,6,90.6,43.7,686.9,6.7,14.6,33,1.3,0.000000,0.000000
3,8,6,3,5,91.7,33.3,77.5,9.0,8.3,97,4.0,0.182322,0.000000
4,8,6,3,7,89.3,51.3,102.2,9.6,11.4,99,1.8,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,4,3,8,7,81.6,56.7,665.6,1.9,27.8,32,2.7,0.000000,2.006871
513,2,4,8,7,81.6,56.7,665.6,1.9,21.9,71,5.8,0.000000,4.012592
514,7,4,8,7,81.6,56.7,665.6,1.9,21.2,70,6.7,0.000000,2.498152
515,1,4,8,6,94.4,146.0,614.7,11.3,25.6,42,4.0,0.000000,0.000000
516,6,3,11,2,79.5,3.0,106.7,1.1,11.8,31,4.5,0.000000,0.000000

In [141]:
df['month'].value_counts() # see each unique value in month quantity of it

8     184
9     172
3      54
7      32
2      20
6      17
10     15
4       9
12      9
1       2
5       2
11      1
Name: month, dtype: int64

## split and normalize the data

In [142]:
y = df['area']
y # make the target is column rain

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
         ...
512    2.006871
513    4.012592
514    2.498152
515    0.000000
516    0.000000
Name: area, Length: 517, dtype: float64

In [143]:
x =df.drop('area',axis=1)
x # the rest is the predictores

     X  Y month day  FFMC    DMC     DC   ISI  temp  RH  wind      rain
0    7  5     3   5  86.2   26.2   94.3   5.1   8.2  51   6.7  0.000000
1    7  4    10   2  90.6   35.4  669.1   6.7  18.0  33   0.9  0.000000
2    7  4    10   6  90.6   43.7  686.9   6.7  14.6  33   1.3  0.000000
3    8  6     3   5  91.7   33.3   77.5   9.0   8.3  97   4.0  0.182322
4    8  6     3   7  89.3   51.3  102.2   9.6  11.4  99   1.8  0.000000
..  .. ..   ...  ..   ...    ...    ...   ...   ...  ..   ...       ...
512  4  3     8   7  81.6   56.7  665.6   1.9  27.8  32   2.7  0.000000
513  2  4     8   7  81.6   56.7  665.6   1.9  21.9  71   5.8  0.000000
514  7  4     8   7  81.6   56.7  665.6   1.9  21.2  70   6.7  0.000000
515  1  4     8   6  94.4  146.0  614.7  11.3  25.6  42   4.0  0.000000
516  6  3    11   2  79.5    3.0  106.7   1.1  11.8  31   4.5  0.000000

[517 rows x 12 columns]

In [144]:
# Create an instance of StandardScaler
scaler = StandardScaler()
# Fit and transform the dataframe using StandardScaler
x = scaler.fit_transform(x)
# Print the normalized dataframe
print(x)

[[ 1.00831277  0.56986043 -1.96844301 ...  0.41172435  1.49861442
  -0.09726116]
 [ 1.00831277 -0.24400101  1.1101202  ... -0.69245628 -1.74175564
  -0.09726116]
 [ 1.00831277 -0.24400101  1.1101202  ... -0.69245628 -1.51828184
  -0.09726116]
 ...
 [ 1.00831277 -0.24400101  0.23053071 ...  1.57724834  1.49861442
  -0.09726116]
 [-1.58736044 -0.24400101  0.23053071 ... -0.14036597 -0.00983371
  -0.09726116]
 [ 0.57570057 -1.05786246  1.54991494 ... -0.81514302  0.26950853
  -0.09726116]]

In [145]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 50) 
# Split the data into training and testing data
 
#make the train and test data in arrays to enter the ML module
xtrain = np.asanyarray(xtrain)
xtest = np.asanyarray(xtest)
ytrain = np.asanyarray(ytrain)
ytest = np.asanyarray(ytest)

In [146]:
num_col = x.shape[1]  # get the columns of the data to be input to Neural networks
num_col

12

## Building Model

In [147]:
def area():
    model = Sequential() # create Sequential model
    model.add(Dense(64, activation='relu', input_shape=(num_col,))) 
    # first hidden layer input is number of columns and activation function is Relu and hidden layer is 64 nodes
    model.add(Dense(32, activation='relu')) # second hidden layer has 32 nodes and activation function is Relu
    model.add(Dense(1)) # output layer is one node

    model.compile(optimizer="adam",loss="mean_squared_error") # use adam optimizer and loss function is MSE
    return model

In [148]:
reg = area()
reg.fit(xtrain,ytrain,epochs=50,batch_size=32) # fit model on training data , train on 50 epoch with batch = 32

Epoch 1/50

13/13 [==============================] - 1s 924us/step - loss: 3.3131
Epoch 2/50
13/13 [==============================] - 0s 667us/step - loss: 2.3882
Epoch 3/50
13/13 [==============================] - 0s 1ms/step - loss: 2.1389
Epoch 4/50
13/13 [==============================] - 0s 1ms/step - loss: 2.0015
Epoch 5/50
13/13 [==============================] - 0s 584us/step - loss: 1.9275
Epoch 6/50
13/13 [==============================] - 0s 625us/step - loss: 1.8926
Epoch 7/50
13/13 [==============================] - 0s 674us/step - loss: 1.8675
Epoch 8/50
13/13 [==============================] - 0s 1ms/step - loss: 1.8463
Epoch 9/50
13/13 [==============================] - 0s 1ms/step - loss: 1.8223
Epoch 10/50
13/13 [==============================] - 0s 1ms/step - loss: 1.8122
Epoch 11/50
13/13 [==============================] - 0s 1ms/step - loss: 1.7926
Epoch 12/50
13/13 [==============================] - 0s 1ms/step - loss: 1.7790
Epoch 13/50
13/13 [==============================] - 0s 667us/step - loss: 1.7643
Epoch 14/50
13/13 [==============================] - 0s 542us/step - loss: 1.7497
Epoch 15/50
13/13 [==============================] - 0s 667us/step - loss: 1.7329
Epoch 16/50
13/13 [==============================] - 0s 1ms/step - loss: 1.7302
Epoch 17/50
13/13 [==============================] - 0s 625us/step - loss: 1.7063
Epoch 18/50
13/13 [==============================] - 0s 667us/step - loss: 1.7005
Epoch 19/50
13/13 [==============================] - 0s 1ms/step - loss: 1.6753
Epoch 20/50
13/13 [==============================] - 0s 1ms/step - loss: 1.6620
Epoch 21/50
13/13 [==============================] - 0s 668us/step - loss: 1.6452
Epoch 22/50
13/13 [==============================] - 0s 702us/step - loss: 1.6329
Epoch 23/50
13/13 [==============================] - 0s 667us/step - loss: 1.6217
Epoch 24/50
13/13 [==============================] - 0s 694us/step - loss: 1.6074
Epoch 25/50
13/13 [==============================] - 0s 665us/step - loss: 1.5895
Epoch 26/50
13/13 [==============================] - 0s 1ms/step - loss: 1.5740
Epoch 27/50
13/13 [==============================] - 0s 667us/step - loss: 1.5679
Epoch 28/50
13/13 [==============================] - 0s 667us/step - loss: 1.5447
Epoch 29/50
13/13 [==============================] - 0s 1ms/step - loss: 1.5313
Epoch 30/50
13/13 [==============================] - 0s 585us/step - loss: 1.5175
Epoch 31/50
13/13 [==============================] - 0s 650us/step - loss: 1.5011
Epoch 32/50
13/13 [==============================] - 0s 1ms/step - loss: 1.4873
Epoch 33/50
13/13 [==============================] - 0s 777us/step - loss: 1.4705
Epoch 34/50
13/13 [==============================] - 0s 1ms/step - loss: 1.4623
Epoch 35/50
13/13 [==============================] - 0s 709us/step - loss: 1.4505
Epoch 36/50
13/13 [==============================] - 0s 544us/step - loss: 1.4412
Epoch 37/50
13/13 [==============================] - 0s 670us/step - loss: 1.4080
Epoch 38/50
13/13 [==============================] - 0s 668us/step - loss: 1.4008
Epoch 39/50
13/13 [==============================] - 0s 1ms/step - loss: 1.3877
Epoch 40/50
13/13 [==============================] - 0s 1ms/step - loss: 1.3668
Epoch 41/50
13/13 [==============================] - 0s 679us/step - loss: 1.3502
Epoch 42/50
13/13 [==============================] - 0s 1ms/step - loss: 1.3439
Epoch 43/50
13/13 [==============================] - 0s 668us/step - loss: 1.3314
Epoch 44/50
13/13 [==============================] - 0s 1ms/step - loss: 1.3376
Epoch 45/50
13/13 [==============================] - 0s 1ms/step - loss: 1.3198
Epoch 46/50
13/13 [==============================] - 0s 793us/step - loss: 1.2951
Epoch 47/50
13/13 [==============================] - 0s 667us/step - loss: 1.2748
Epoch 48/50
13/13 [==============================] - 0s 1ms/step - loss: 1.2547
Epoch 49/50
13/13 [==============================] - 0s 1ms/step - loss: 1.2401
Epoch 50/50
13/13 [==============================] - 0s 668us/step - loss: 1.2325

In [149]:
loss = reg.evaluate(xtest,ytest) # test using test data

4/4 [==============================] - 0s 0s/step - loss: 1.9680

In [150]:
print("The loss for test set is {}".format(loss))

The loss for test set is 1.9680250883102417

### my opinion on loss is training loss in not high and near test loss so it is not overfitting nor underfitting , if increase hidden layer and number of epochs training loss will decrease and test loss will increase so it will be overfitted , if decrease hidden layer and number of epochs training loss will increase and test loss will increase so it will be underfitted

### so i see it is the best number of hidden layers and number of epochs